.filterDropdown {
  position: relative;
  border: 1px solid #E7E8EA;
  margin: 0 0 0 15px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
  max-width: 220px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  user-select: none;
  z-index: 100;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 0 15px;
    span {
      position: relative;
      top: 5px;
    }
    &:hover {
      opacity: 0.95;
    }
  }
  .body {
    position: absolute;
    min-width: 180px;
    background-color: #fff;
    top: 41px;
    left: 0;
    max-height: 150px;
    overflow: auto;
    box-shadow: 0 0 5px 0 #00000059;
    border-radius: 5px;
    ul {
      display: flex;
      flex-direction: column;
      padding: 10px 0 10px 15px;
    }
    li {
      line-height: 25px;
      text-align: start;
      display: flex;
      align-items: center;
      column-gap: 8px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}