.customInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 1;
    input {
      border-bottom: 1px solid #000 !important;
    }
  }
  label {
    font-size: 12px;
    opacity: 0.5;
  }
  input {
    width: 100%;
    padding: 7px 0;
    line-height: 16px;
    border-bottom: 1px solid #000;
    margin: 0 0 5px 0;
    transition: all 0.4s ease-in-out;
  }
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
  }
  .error {
    color: #c20000;
    font-size: 12px;
  }
}