@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/*Обнуление*/
* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit;}
/*--------------------*/


body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.page {
  flex: 1;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('./img/hero/bg-hero.jpg') center no-repeat fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  .heroContainer {
    max-width: 600px;
  }
  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heroTitle {
    font-size: 70px;
    font-weight: 600;
    line-height: 115%;
    margin: 0 0 20px 0;
  }
  .heroText {
    font-size: 16px;
    text-align: center;
  }
  .heroScroll {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    svg {
      fill: rgba(255, 255, 255, 0);
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      opacity: 0.5;
      svg {
        fill: rgba(255, 255, 255, 0.05);
      }
    }
  }
  .heroImage {
    width: 320px;
    img {
      max-width: 100%;
    }
  }
}
.catalog {
  padding: 50px 0;
  .catalogTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px 0;
  }
  .catalogTitle {
    font-size: 35px;
    font-weight: 600;
  }
  .catalogFilters {
    display: flex;
    align-items: center;
  }
  .catalogFilter {
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    text-align: center;
    width: 180px;
    max-width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    user-select: none;
    padding: 0 20px;
    background-color: #2C2E30;
    color: #fff;
    &:hover {
      opacity: 0.95;
    }
  }
  .catalogProducts {
    display: grid;
    grid-template-columns: repeat(5, 210px);
    justify-content: space-between;
    row-gap: 30px;
  }
}

.heroCart {
  padding: 50px 0;
  .heroContent {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 670px 1fr;
  }
  .heroProducts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .heroTop {
    display: flex;
    align-items: end;
    margin: 0 0 20px 0;
    h3 {
      font-weight: 700;
      font-size: 30px;
    }
    span {
      opacity: 0.5;
      margin: 0 0 0 10px;
    }
  }
  .heroSidebar {
    .arrange {
      font-size: 16px;
      font-weight: 600;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      width: 100%;
      margin: 0 0 15px 0;
      border-radius: 10px;
      text-align: center;
      background-color: #E5CFB0;
      color: #fff;
      user-select: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #D3BA96;
      }
    }
    .info {
      background-color: #F6F6F6;
      border-radius: 15px;
      padding: 15px;
      .total {
        display: inline-block;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid #A0A0A0;
        margin: 0 0 15px 0;
      }
      .sale {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 35px 0;
        .price {
          color: #F93E3E;
        }
      }
      .totalPrice {
        font-weight: 600;
        display: flex;
        align-items: end;
        justify-content: space-between;
        .title {
          font-size: 20px;
        }
        .price {
          font-size: 25px;
        }
      }
    }
  }
}